AccessModifierOffset: -4
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: WebKit
ColumnLimit: 100
FixNamespaceComments: true
IndentCaseBlocks: false
IndentCaseLabels: false
IndentWidth: 4
PointerAlignment: Left