BasedOnStyle: Chromium
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: MultiLine
IndentWidth: 4
ColumnLimit: 100
AlignTrailingComments: true
FixNamespaceComments: true
AccessModifierOffset: -4
IndentCaseLabels: false
IndentCaseBlocks: false
AlignConsecutiveDeclarations: true
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline